{{extend 'layout.html'}}

<p class="bg-info">
    Add all the sections you want transcribed for your documents in this project.<br>
    Some sections may only appear on some of your documents, but you should still add these if you want them to be transcribed.
</p>

<div class="col-md-4">
    <h3>Saved project sections</h3>
    <ul>
        {{for field in fields:}}
            <li>
                {{=field.name}} - {{=field.status.name}}
                <a class="btn btn-xs btn-danger" href="{{=URL('project', 'delete_field', args=field.id)}}" role="button">Delete</a>
            </li>
        {{pass}}
    </ul>
</div>

<div class="col-md-8">
    <h3>Add a new project section</h3>
    {{ =form }}
</div>

{{response.files.insert(4,URL('static','js/form_fix.js'))}}
