{{extend 'layout.html'}}

<p class="bg-info">
    Upload the document images you want to be transcribed.
</p>

<div class="col-md-4">
    <h3>Uploaded documents</h3>
    <div class="row">
        {{for i, doc in enumerate(docs):}}
            {{if (i % 2 == 0) & (i > 0):}}
                </div><div class="row">
            {{pass}}
            <div class="col-md-6 doc-item">{{=doc.name}} <a class="btn btn-xs btn-danger pull-right" href="{{=URL('project', 'delete_doc', args=doc.id)}}" role="button">Delete</a>
                <img src="{{=URL('default', 'download',args=doc.img)}}" class="img-responsive" align="right">
            </div>
        {{pass}}
    </div>
</div>

<div class="col-md-8">
    <h3>Upload a new document</h3>
    {{ =form }}
</div>

{{response.files.insert(4,URL('static','js/form_fix.js'))}}
