{{extend 'layout.html'}}

{{if project.manager == auth.user_id:}}
    <div class="pull-right">
        {{if project.status == 1:}} <!-- If the project is closed -->
            <a class="btn btn-default" href="{{=URL('project', 'open', args=project.id)}}">Open</a>
        {{elif project.status == 2:}} <!-- If the project is open -->
            <a class="btn btn-default" href="{{=URL('project', 'close', args=project.id)}}">Close</a>
        {{pass}}
        <a class="btn btn-default" href="{{=URL('project', 'add_doc', args=project.id)}}" role="button">Add Document</a>
        <a class="btn btn-default" href="{{=URL('project', 'add_field', args=project.id)}}" role="button">Add Field</a>
    </div>
    <hr>
    {{if project.status == 1:}} <!-- If the project is closed -->
        <p>Remember to open your project to allow contributions!</p>
    {{pass}}
{{pass}}

<div class="col-md-8">
{{ for doc in project.documents: }}
    {{include "subviews/display-document.html"}}
{{ pass }}
</div>
<div class="col-md-4">
    <h3>Project Fields</h3>
    <ul>
        {{for field in fields:}}
            <li>{{=field.name}} - {{=field.status.name}}</li>
        {{pass}}
    </ul>
</div>
