{{extend 'layout.html'}}

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{for project in projects:}}
    <tr>
      <td><a href="{{=URL('project', 'view', args=project.id)}}">{{=project.title}}</a></td>
      <td>{{=project.status.name}}</td>
      <td>
        {{if project.status == 1:}} <!-- If the project is closed -->
        <a class="btn btn-default" href="{{=URL('project', 'open', args=project.id)}}">Open</a>
        {{elif project.status == 2:}} <!-- If the project is open -->
        <a class="btn btn-default" href="{{=URL('project', 'close', args=project.id)}}">Close</a>
        {{pass}}
        <a class="btn btn-danger" href="{{=URL('project', 'delete', args=project.id)}}">Delete</a>
      </td>
    </tr>
    {{pass}}
  </tbody>
</table>
