
#skiptocontent a {
    padding:6px;
    position: absolute;
    top:-40px;
    left:0px;
    color:white;
    border-right:1px solid white;
    border-bottom:1px solid white;
    border-bottom-right-radius:8px;
    background:transparent;
    -webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 2000;
}

#skiptocontent a:focus {
    position:absolute;
    left:0px;
    top:0px;
    background:#BF1722;
    outline:0;
    -webkit-transition: top .1s ease-in, background .5s linear;
    transition: top .1s ease-in, background .5s linear;
}

.doc-item img {
    margin: 5px 0 10px;
}

p.bg-info {
    padding: 15px;
}


/* Sticky footer
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
    padding: 10px;
}


/* Nav overides
-------------------------------------------------- */

.nav-login a.dropdown-toggle:after {
    content: " ▾";
}



/*********** web2py specific ***********/
div.flash {
    font-weight:bold;
    display:none;
    position:fixed;
    padding:10px;
    right:250px;
    min-width:280px;
    opacity:0.95;
    margin:0px 0px 10px 10px;
    vertical-align:middle;
    cursor:pointer;
    color:#fff;
    background-color:#000;
    border:2px solid #fff;
    border-radius:8px;
    -o-border-radius: 8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    background-image: -webkit-linear-gradient(top,#222,#000);
    background-image: -o-linear-gradient(top,#222,#000);
    background-image: -moz-linear-gradient(90deg, #222, #000);
    background-image: linear-gradient(top,#222,#000);
    background-repeat: repeat-x;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    z-index:2000;
}

div.flash #closeflash {
    color:inherit;
    opacity: .8;
}

div.flash:hover {
    opacity:0.25;
}

.error_wrapper {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.error_wrapper {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
