{{extend 'layout.html'}}

<div class="row">
    <div class="col-md-6">
        <dl>
            {{for item in fields:}}
                <dt>{{=item.name}}</dt>
                {{if item.metadata:}}
                    <dd>{{=item.metadata.data_value}}</dd>
                {{else:}}
                    <dd>No accepted data</dd>
                {{pass}}
            {{pass}}
        </dl>
    </div>
    <div class="col-md-6">
        <img src="{{=URL('default', 'download', args=doc.img)}}" class="img-responsive" alt="{{=doc.name}}">
    </div>
</div>
